.label {
  font-size: 14px;
}

.control.is-full-width,
.field.is-full-width {
    width: 100%;
}

.control input,
.control textarea,
.control .button {
  height: auto;
  box-shadow: none;
}

.field.has-addons input,
.field.has-addons .button {
  height: 100%;
}

.form {
  width: 100%;
}

.field.is-flat {
  // width: 400px;
  // height: 29px;
  // @media(max-width: $tablet) {
  width: 100%;
  // }
}

.field.has-addons .is-flat input,
.field.is-flat input,
.field.is-flat .file-name,
.field.is-flat .file-cta,
.field.has-addons .is-flat .button {
  font-size: 14px;
  padding: .15rem .8rem .25rem;
  height: 29px;
  // padding: .25rem .8rem .15rem;
}

.field.is-flat .file-cta,
.field.has-addons .is-flat .button {
  padding: .2rem .8rem;
  height: 29px;
}

.is-half-width {
  max-width: 200px;
}

.has-addons .control:first-child {
  flex: 1;
}

.field.is-horizontal .field-label {
  margin-right: .5rem;
}


.is-horizontal.has-label-right {
  align-items: center;
  .label {
    order: 2;
    margin-bottom: 0;
    margin-left: 7px;
  }
}

.file {
  max-width: 100%;
  input[type="file"] {
    visibility: hidden;
  }
}

.file-label {
  width: 100%;
}

.file-name {
  max-width: 100%;
  width: 100%;
}

.file-input-wrapper {
  cursor: pointer;
  position: relative;
  input[type="file"] {
    position: absolute;
    z-index: -1;
    visibility: hidden;
  }
}

.file-input-wrapper-content {}

.file-input-wrapper-label {
  text-align: center;
  margin-top: .4em;
  color: #7F8996;
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.input,
.textarea,
.select select {
  border-color: #b5b5b5;
  box-shadow: none;
}

.input:focus,
.input.is-focused,
.input:active,
.input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active,
.select select:focus,
.select select.is-focused,
.select select:active {
  border-color: #b5b5b5;
  box-shadow: none;
}


.control.has-icons-left .icon,
.control.has-icons-right .icon,
.select:not(.is-multiple):not(.is-loading)::after,
.field.has-addons .control .input:hover,
.pagination-select:not(.is-multiple):not(.is-loading)::after {
  z-index: 0;
}

.field.is-horizontal .label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 6px;
  > span {
    margin-left: 2px;
  }
}


.tooltip .icon i {
  // margin-top: 1px;
}

.field.is-flat .control.is-loading::after {
  top: 7px;
}
