$progress-circle-size: 120px;

.progress-container {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  padding: 1rem 0;
  width: 100%;

  .progress-component + .progress-component {
    margin-left: 2rem;
  }

  @media(max-width: $desktop) {
    padding: 0;
  }
}

.progress-component {
  display: inline-block;
  margin: .5rem;
}


.progress-circle {
  position: relative;
  width: $progress-circle-size;
  height: $progress-circle-size;
  flex-shrink: 0;
}

.progress-circle-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.progress-circle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  background-color: $white-ter;
  width: $progress-circle-size - 24px;
  height: $progress-circle-size - 24px;
  border-radius: 100%;

  overflow: hidden;

  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.progress-circle-info {
  position: absolute;
  text-align: center;

  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}


@keyframes fade-bg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


// .progress-circle-heading
// ==========================================================================

.progress-circle-heading {
  position: relative;
  top: 0px;
  z-index: 150;

  font-family: Montserrat,sans-serif;
  font-size: 34px;
  line-height: 1;
  font-weight: 500;
  color: $grey;
  margin: 0;
  text-align: center;
  opacity: 0;

  animation: fade-bg .4s forwards .5s;

  span {
    font-size: 16px;
    display: block;
  }
}


.progress-circle-percentual {
  color: $primary;
}

.progress-circle-title {
  text-align: center;
  font-size: 14px;
  color: $grey;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: .5rem;
}

.progress-circle-fill {
  stroke: $primary;
}

.progress-circle-bg {
  stroke: $light;
}



$level-color-1: $orange;
$level-color-2: $green;
$level-color-3: $blue;
$level-color-4: $yellow;
$level-color-5: $purple;
$level-color-6: $grey;
$level-color-7: $turquoise;

.progress-component {

  &:nth-child(7n+1) { .progress-circle-fill { stroke: $level-color-1; } }
  &:nth-child(7n+2) { .progress-circle-fill { stroke: $level-color-2; } }
  &:nth-child(7n+3) { .progress-circle-fill { stroke: $level-color-3; } }
  &:nth-child(7n+4) { .progress-circle-fill { stroke: $level-color-4; } }
  &:nth-child(7n+5) { .progress-circle-fill { stroke: $level-color-5; } }
  &:nth-child(7n+6) { .progress-circle-fill { stroke: $level-color-6; } }
  &:nth-child(7n+7) { .progress-circle-fill { stroke: $level-color-7; } }

  &:nth-child(7n+1) { .progress-circle-percentual { color: $level-color-1; } }
  &:nth-child(7n+2) { .progress-circle-percentual { color: $level-color-2; } }
  &:nth-child(7n+3) { .progress-circle-percentual { color: $level-color-3; } }
  &:nth-child(7n+4) { .progress-circle-percentual { color: $level-color-4; } }
  &:nth-child(7n+5) { .progress-circle-percentual { color: $level-color-5; } }
  &:nth-child(7n+6) { .progress-circle-percentual { color: $level-color-6; } }
  &:nth-child(7n+7) { .progress-circle-percentual { color: $level-color-7; } }
}


// stroke-dashoffset 0 = 100% 295.416 = 0%
