// Normalize.css
@import "~normalize.css/normalize.css";

// Settings
@import "./settings/all";

// Bulma core
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/elements/all";
@import "~bulma/sass/components/all";
@import "~bulma/sass/grid/all";
@import "~bulma/sass/layout/all";

// Custom components
@import "./components/all";

@import "./fontawesome/fontawesome";
@import "./fontawesome/fa-solid";
@import "./fontawesome/fa-regular";
@import "./fontawesome/fa-light";


@font-face {
  font-family: 'BLOKK';
  src: url('~/webfonts/BLOKKNeue-Regular.eot');
  src: url('~/webfonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url('~/webfonts/BLOKKNeue-Regular.woff2') format('woff2'),
       url('~/webfonts/BLOKKNeue-Regular.woff') format('woff'),
       url('~/webfonts/BLOKKNeue-Regular.otf') format('opentype'),
       url('~/webfonts/BLOKKNeue-Regular.ttf') format('truetype'),
       url('~/webfonts/BLOKKNeue-Regular.svg#BLOKKRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'BLOKK';
    src: url('~/webfonts/BLOKKNeue-Regular.svg') format('svg');
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// @import url("https://blokkfont-losgordos.netdna-ssl.com/v2/blokkfont.css");

*,
*:after,
*:before {
  box-sizing: border-box;
}

.react-select-wrapper {
  width: 100%;
  > div {
    width: 100%;
  }
}

.button.is-bare {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
}


.button.is-rounded {
  border-radius: 100%;
  display: block;
  border-style: inset;
  border-width: 0;
}

.is-16px {
  width: 16px;
  min-height: 16px;
  &.image.has-border-rounded {
    border-radius: 3px;
  }
}

.is-24px {
  width: 24px;
  min-height: 24px;
}

.is-32px {
  width: 32px;
  min-height: 32px;
}

.is-36px {
  width: 36px;
  min-height: 36px;
}

.is-48px {
  width: 48px;
  min-height: 48px;
}

.is-64px {
  width: 64px;
  min-height: 64px;
}

.is-128px {
  width: 128px;
  min-height: 128px;
}









.custom-modal {
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 2147483646;
  transition: all 0s ease-in-out .4s, opacity .4s ease-in-out 0s;
  &.is-active {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0s ease-in-out 0s, opacity .4s ease-in-out 0s;
    .custom-modal-background {
      opacity: .6;
    }
    .custom-modal-content {
      opacity: 1;
      animation: slideUpSoft .4s ease-in-out;
    }
  }
}

.custom-modal-header {
  display: flex;
  padding: .75rem 1.4rem .7rem;
  // padding-bottom: 0;
  justify-content: space-between;
  align-items: center;
  background-color: $white-ter;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.custom-modal-content {
  width: 100%;
  // height: 100%;
  max-width: 640px;
  max-height: 100%;
  position: absolute;
  z-index: 100;
  opacity: 0;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  background-color: #FFFFFF;
  animation: fadeOut .4s ease-in-out;
}

.custom-modal-body {
  flex: 1;
  overflow-y: auto;
  padding: 1.4rem;
  padding-bottom: 2rem;
}

.custom-modal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  background-color: rgba(#000, .8);
  transition: all .2s ease-in-out;
  display: block;
}

.custom-modal.is-responsive .custom-modal-background {
  display: none;
  transition: none;
  @media(min-width: $desktop) {
    transition: all .2s ease-in-out;
    display: block;
  }
}

@keyframes slideUpSoft {
  0% {
    opacity: .1;
    transform-origin: center;
    transform: translateY(10%);
  }
  100% {
    opacity: .99;
    transform-origin: center;
    transform: translateY(0);
  }
}

@keyframes slideDownSoft {
  0% {
    opacity: .99;
    transform-origin: center;
    transform: translateY(0);
  }
  100% {
    opacity: .1;
    transform-origin: center;
    transform: translateY(0);
  }
}





























.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  margin-left: -8px;
  position: absolute;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before,
.react-datepicker__month-year-read-view--down-arrow::before {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before,
.react-datepicker__month-year-read-view--down-arrow::before {
  content: "";
  z-index: -1;
  border-width: 8px;
  left: -8px;
  border-bottom-color: #aeaeae;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  top: 0;
  margin-top: -8px;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: #f0f0f0;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before,
.react-datepicker__month-year-read-view--down-arrow::before {
  border-bottom: none;
  border-top-color: #fff;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before,
.react-datepicker__month-year-read-view--down-arrow::before {
  bottom: -1px;
  border-top-color: #aeaeae;
}

.react-datepicker-wrapper {
  display: inline-block;
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

.react-datepicker--time-only .react-datepicker__triangle {
  left: 35px;
}

.react-datepicker--time-only .react-datepicker__time-container {
  border-left: 0;
}

.react-datepicker--time-only .react-datepicker__time {
  border-radius: 0.3rem;
}

.react-datepicker--time-only .react-datepicker__time-box {
  border-radius: 0.3rem;
}

.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

.react-datepicker-popper {
  z-index: 1;
}

.react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 10px;
}

.react-datepicker-popper[data-placement^="top"] {
  margin-bottom: 10px;
}

.react-datepicker-popper[data-placement^="right"] {
  margin-left: 8px;
}

.react-datepicker-popper[data-placement^="right"] .react-datepicker__triangle {
  left: auto;
  right: 42px;
}

.react-datepicker-popper[data-placement^="left"] {
  margin-right: 8px;
}

.react-datepicker-popper[data-placement^="left"] .react-datepicker__triangle {
  left: 42px;
  right: auto;
}

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 8px;
  position: relative;
}

.react-datepicker__header--time {
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem;
}

.react-datepicker-time__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.react-datepicker__navigation {
  background: none;
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  padding: 0;
  border: 0.45rem solid transparent;
  z-index: 1;
}

.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: #ccc;
}

.react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3;
}

.react-datepicker__navigation--previous--disabled, .react-datepicker__navigation--previous--disabled:hover {
  border-right-color: #e6e6e6;
  cursor: default;
}

.react-datepicker__navigation--next {
  right: 10px;
  border-left-color: #ccc;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 80px;
}

.react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3;
}

.react-datepicker__navigation--next--disabled, .react-datepicker__navigation--next--disabled:hover {
  border-left-color: #e6e6e6;
  cursor: default;
}

.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: #ccc;
}

.react-datepicker__navigation--years-previous:hover {
  border-top-color: #b3b3b3;
}

.react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: #ccc;
}

.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #b3b3b3;
}

.react-datepicker__month-container {
  float: left;
}

.react-datepicker__month {
  margin: 0.4rem;
  text-align: center;
}

.react-datepicker__time-container {
  float: right;
  border-left: 1px solid #aeaeae;
  width: 70px;
}

.react-datepicker__time-container--with-today-button {
  display: inline;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  position: absolute;
  right: -72px;
  top: 0;
}

.react-datepicker__time-container .react-datepicker__time {
  position: relative;
  background: white;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 70px;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  list-style: none;
  margin: 0;
  height: calc(195px + (1.7rem / 2));
  overflow-y: scroll;
  padding-right: 30px;
  width: 100%;
  box-sizing: content-box;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  padding: 5px 10px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #216ba5;
  color: white;
  font-weight: bold;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: #216ba5;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  color: #ccc;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled:hover {
  cursor: default;
  background-color: transparent;
}

.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__week-number.react-datepicker__week-number--clickable {
  cursor: pointer;
}

.react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}

.react-datepicker__day-names,
.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__day {
  cursor: pointer;
}

.react-datepicker__day:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}

.react-datepicker__day--today {
  font-weight: bold;
}

.react-datepicker__day--highlighted {
  border-radius: 0.3rem;
  background-color: #3dcc4a;
  color: #fff;
}

.react-datepicker__day--highlighted:hover {
  background-color: #32be3f;
}

.react-datepicker__day--highlighted-custom-1 {
  color: magenta;
}

.react-datepicker__day--highlighted-custom-2 {
  color: green;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
  background-color: #1d5d90;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #2a87d0;
  color: #fff;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: #1d5d90;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: rgba(33, 107, 165, 0.5);
}

.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
  background-color: #f0f0f0;
  color: #000;
}

.react-datepicker__day--disabled {
  cursor: default;
  color: #ccc;
}

.react-datepicker__day--disabled:hover {
  background-color: transparent;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem;
}

.react-datepicker__year-read-view:hover,
.react-datepicker__month-read-view:hover,
.react-datepicker__month-year-read-view:hover {
  cursor: pointer;
}

.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: #b3b3b3;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  border-top-color: #ccc;
  float: right;
  margin-left: 20px;
  top: 8px;
  position: relative;
  border-width: 0.45rem;
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  z-index: 1;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae;
}

.react-datepicker__year-dropdown:hover,
.react-datepicker__month-dropdown:hover,
.react-datepicker__month-year-dropdown:hover {
  cursor: pointer;
}

.react-datepicker__year-dropdown--scrollable,
.react-datepicker__month-dropdown--scrollable,
.react-datepicker__month-year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}

.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.react-datepicker__year-option:first-of-type,
.react-datepicker__month-option:first-of-type,
.react-datepicker__month-year-option:first-of-type {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.react-datepicker__year-option:last-of-type,
.react-datepicker__month-option:last-of-type,
.react-datepicker__month-year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover,
.react-datepicker__month-year-option:hover {
  background-color: #ccc;
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}

.react-datepicker__year-option--selected,
.react-datepicker__month-option--selected,
.react-datepicker__month-year-option--selected {
  position: absolute;
  left: 15px;
}

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;
}

.react-datepicker__close-icon::after {
  background-color: #216ba5;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: "\00d7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 50%;
}

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647;
}

.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
  width: 3rem;
  line-height: 3rem;
}

@media (max-width: 400px), (max-height: 550px) {
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day,
  .react-datepicker__portal .react-datepicker__time-name {
    width: 2rem;
    line-height: 2rem;
  }
}

.react-datepicker__portal .react-datepicker__current-month,
.react-datepicker__portal .react-datepicker-time__header {
  font-size: 1.44rem;
}

.react-datepicker__portal .react-datepicker__navigation {
  border: 0.81rem solid transparent;
}

.react-datepicker__portal .react-datepicker__navigation--previous {
  border-right-color: #ccc;
}

.react-datepicker__portal .react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3;
}

.react-datepicker__portal .react-datepicker__navigation--previous--disabled, .react-datepicker__portal .react-datepicker__navigation--previous--disabled:hover {
  border-right-color: #e6e6e6;
  cursor: default;
}

.react-datepicker__portal .react-datepicker__navigation--next {
  border-left-color: #ccc;
}

.react-datepicker__portal .react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3;
}

.react-datepicker__portal .react-datepicker__navigation--next--disabled, .react-datepicker__portal .react-datepicker__navigation--next--disabled:hover {
  border-left-color: #e6e6e6;
  cursor: default;
}


.select,
select {
  width: 100%;
}
.field.has-addons {
  .label {
    width: 100%;
  }
  flex-wrap: wrap;
}


.control {
  display: block;
}


td > span[role="button"] {
  outline: none;
}


.table {
  width: 100%;
}

.is-padded {
  padding: 2rem;
}

.header.is-tiny .title:first-child {
  font-size: .75rem;
  > .tag {
    font-size: .6rem;
  }
}

.header.is-small .title:first-child {
  font-size: .85rem;
}

.header.is-medium .title:first-child {
  font-size: 1rem;
}

.header.is-large .title:first-child {
  font-size: 1.5rem;
}

.header .title:first-child {
  font-size: .9rem;
  font-weight: 800;
  height: 1rem;
  color: $dark-blue;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.is-uppercase {
  text-transform: uppercase;
}

.image.is-brand {
  cursor: pointer;
  img {
    width: auto;
    height: 36px;
  }
}

.image.has-border-rounded {
  border-radius: 5px;
  overflow: hidden;
}


.title:not(.is-spaced) + .subtitle {
  margin-top: 0;
}


.dropdown,
.dropdown-menu,
.dropdown-content {
  outline: none;
}



.inline-bars-item {

}

.inline-bars-content {

}

.inline-bars-title {

}

.inline-bars-value {

}

.inline-bars-progress {
  height: 10px;
}

.inline-bars {
  display: flex;
}












.pagination-previous,
.pagination-next {
  order: initial !important;
}






.is-purple {
  color: $featured;
}




.container.is-medium {
  max-width: 1024px;
}



.section {
  padding: 2rem 1rem;
}



.twitter-picker {
  box-shadow: none !important;
  margin: -15px -9px -9px -15px;
}

.theme-color {
  display: flex;
}

.theme-color-selected {
  width: 66px;
  height: 66px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    color: rgba(#FFF, .8);
    font-size: 1.3rem;
  }
}





.tabs {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2rem;
  align-items: flex-start;

  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgba($dark-blue, .3);
  }

  ul {
    padding: 0 0 1.5rem;
  }

  li {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 800;
    color: $dark-blue;
    padding: 0 1rem;

    position: relative;

    cursor: pointer;

    &.is-active:before,
    &:hover:before {
      content: "";
      position: absolute;
      z-index: 10;
      bottom: calc(-1.5rem - 1px);
      left: 0;
      height: 2px;
      width: 100%;
      background-color: rgba($primary, .8);
    }
  }
}

hr {
  background-color: rgba($dark-blue, .3);
}

.section {
  padding-left: 0;
  padding-right: 0;
}







.tooltip {
  // &:hover {
  //   .tooltip__description {
  //     visibility: visible;
  //     opacity: 1;
  //   }
  // }
}

.tooltip__description {
  visibility: visible;
  opacity: 1;
  background-color: #4e4e4e;
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: .68rem;
  max-width: 140px;
  padding: 5px 10px 7px;
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(0,0,0,.3);
  white-space: normal;
  // &:after {
  //   content: "";
  //   right: -10px;
  //   border-width: 5px;
  //   border-style: solid;
  //   border-color: transparent transparent transparent #4e4e4e;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
}

.container,
.section {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  &.is-right {
    text-align: right;
    justify-content: flex-end;
  }
  &.is-center {
    text-align: center;
    justify-content: center;
  }
}


.field.is-right,
.field.is-right .control {
  text-align: right;
}

.field.is-center,
.field.is-center .control {
  text-align: center;
}


.columns:not(:last-child) {
  margin-bottom: 0;
}

// .button .icon, .button .icon.is-small, .button .icon.is-medium, .button .icon.is-large {
//   height: 100%;
//   width: 1.5em;
// }





.DraftEditor-root {
  background-color: white;
  color: #363636;
  border: 1px solid;
  border-radius: 4px;
  border-color: #dbdbdb;
  min-height: 600px;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
}

.DraftEditor-root,
.public-DraftEditor-content,
.DraftEditor-editorContainer {
  height: 100% !important;
}


// Colors

.tag.has-orange {
  background-color: $orange;
  color: #FFF;
  font-weight: 600;
}

.tag.has-green {
  background-color: $green;
  color: #FFF;
  font-weight: 600;
}

.tag.has-blue {
  background-color: $blue;
  color: #FFF;
  font-weight: 600;
}

.tag.has-yellow {
  background-color: $yellow;
  color: #FFF;
  font-weight: 600;
}

.tag.has-purple {
  background-color: $purple;
  color: #FFF;
  font-weight: 600;
}

.tag.has-grey {
  background-color: $grey;
  color: #FFF;
  font-weight: 600;
}

.tag.has-turquoise {
  background-color: $turquoise;
  color: #FFF;
  font-weight: 600;
}

.is-color-success {
  color: $success;
}

.is-color-grey {
  color: $grey;
}


.file-preview {
  width: 128px;
  height: 128px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  &.is-rounded {
    border-radius: 4px;
  }
  .icon {
    font-size: 4rem;
  }
}

.file-preview.is-full {
  width: 100%;
  height: 100%;
  .icon {
    font-size: 1rem;
  }
}

.file-preview.is-240px {
  width: 240px;
  height: 240px;
  .icon {
    font-size: 6rem;
  }
}

.file-preview.is-64px {
  width: 64px;
  height: 64px;
  .icon {
    font-size: 2rem;
  }
}

.file-preview.is-32px {
  width: 32px;
  height: 32px;
  .icon {
    font-size: 1.5rem;
  }
}

.file-preview.is-24px {
  width: 24px;
  height: 24px;
  .icon {
    font-size: 1rem;
  }
}

.file-preview.is-16px {
  width: 16px;
  height: 16px;
  .icon {
    font-size: .8rem;
  }
}

[role="button"]:focus {
  outline: none;
}


.dropdown .text {
  text-overflow: ellipsis;
  max-width: 212px;
  white-space: nowrap;
  overflow: hidden;
}





.empty-state {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.empty-state-icon {
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $dark-blue;
  &:before {
    content: "";
    width: 128px;
    height: 128px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: $white-ter;
  }
}

.empty-state-spinner {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  background-color: $white-ter;
  position: relative;
  z-index: 1001;
  &:before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    display: inline-block;
    border-radius: 100%;
    border-top: 6px solid $dark-blue;
    border-bottom: 6px solid $dark-blue;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    animation: spin .3s linear infinite, fade 0.2s ease-out;
  }
}

.body-container.has-loading {
  &:before {
    z-index: 1000;
  }
  .empty-state-spinner {
    position: absolute;
  }
}

.empty-state-message {
  margin-top: 60px;
}

.empty-state-action {
  margin-top: 20px;
  height: 40px;
}

.line-footer {
  height: 2px;
}


.control.has-switch,
.control.has-checkbox {
  height: 36px;
  display: flex;
  align-items: center;
}


.mock-text {
  font-family: "BLOKK";
  font-weight: lighter;
}

.datatable-cell.opacity {
  opacity: .6;
  transition: all .4s ease-in-out;
}


strong {
  color: inherit;
}

.container.is-medium {
  max-width: 1024px;
}

.react-select__multi-value__label {
  white-space: normal !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-select__multi-value__remove {
  height: 100%;
  padding: 2px 0px 2px !important;
  margin-right: 2px !important;
  cursor: pointer;
  &:hover {
    background-color: transparent !important;
    color: rgb(138, 138, 138) !important;
  }
}

.column {
  padding-left: .45rem;
  padding-right: .45rem;
}

.columns {
  margin-left: -0.45rem;
  margin-right: -0.45rem;
}

.body-container {
  &.has-loading {
    position: relative;
    // overflow: auto;
    &:before {
      content: "";
      width: 0;
      height: 0;
      top: -10000px;
      left: -10000px;
      position: absolute;
      z-index: 1;
      opacity: 0;
      transition: all 0s ease-in-out .4s, opacity .4s ease-in-out 0s;
      background-color: $white;
    }
    .empty-state-spinner {
      position: fixed;
      z-index: 100;
      top: calc(50% - 10px);
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &.has-loading.is-loading {
    overflow: hidden;
    &:before {
      width: 100%;
      height: 800%;
      top: 0;
      left: 0;
      opacity: 1;
      transition: opacity .4s ease-in-out 0s;
    }
  }
}


.icon.is-success {
  color: $success;
}

.field.is-horizontal .label {
  white-space: nowrap;
}

.public-app-header {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  border-bottom: 2px solid;
  padding-bottom: 20px;
  padding-top: 20px;
}

.feedback-container-success,
.feedback-container-danger,
.feedback-container-unathorized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  .icon {
    border: 2px solid $success;
    color: $success;
    font-size: 28px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
  }
}

.feedback-container-success {
  display: none;
  .icon {
    border-color: $success;
    color: $success;
  }
}

.feedback-container-danger {
  display: none;
  .icon {
    border-color: $danger;
    color: $danger;
  }
}

.feedback-container-unathorized {
  // display: none;
  .icon {
    border-color: $warning;
    color: $warning;
  }
}


.feedback-container {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  margin: -2rem -2rem -4rem;
  &.is-success {
    display: flex;
    .feedback-container-success {
      display: flex;
    }
  }
  &.is-danger {
    display: flex;
    .feedback-container-danger {
      display: flex;
    }
  }
  &.is-unauthorized {
    display: flex;
    .feedback-container-unauthorized {
      display: flex;
    }
  }
}
@media print {
  .proposal-section {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}


.is-danger {
  color: $danger;
}

.is-warning {
  color: $warning;
}

.is-success {
  color: $success;
}

.is-link.is-success {
  color: $success;
  &:hover,
  &:focus {
    color: $success;
    background: none;
  }
}

.is-link.is-danger {
  color: $danger;
  &:hover,
  &:focus {
    color: $danger;
  }
}

.is-link.is-dark {
  color: #363636;
  &:hover,
  &:focus {
    color: #363636;
    background: none;
  }
}

.is-thin {
  font-weight: 400;
}

.buttons-flat {
  display: flex;
  align-items: center;
  .button + .button {
    margin-left: 6px;
  }
}

.text.is-medium {
  font-size: 18px;
}

.text.is-default {
  font-size: 16px;
}

.is-flex-bottom {
  align-items: flex-end;
  display: flex;
}

.tag.is-small {
  padding: 0px 6px;
}

.proposal-section {
  + .proposal-section {
    margin-top: 16px;
  }
}

.proposal-section-title {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


// .keys-timeline

.keys-timeline {
  width: 100%;
  display: flex;
  justify-content: center;
}

.keys-timeline-step {
  position: relative;
  margin: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .button {
    position: absolute;
    z-index: 10;
    top: -2px;
    right: 5px;
    .icon {
      color: $danger;
    }
  }
}

.keys-timeline-step-icon {
  opacity: .6;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $dark-blue;
  &:before {
    content: "";
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: $white-ter;
  }
}

.keys-timeline-step-label {
  font-size: 1rem;
  font-weight: 600;
  margin-top: .4rem;
  opacity: .4;
}

.is-achieved {
  .keys-timeline-step-icon {
    opacity: 1;
    color: $success;
  }
  .keys-timeline-step-label {
    opacity: .8;
    .icon {}
  }
}

.column.is-right { text-align: right; }

.column.is-flex-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
