$box-color: $text;
$box-background-color: $white;
$box-radius: $radius-large;
$box-shadow: 0 2px 3px rgba($black, 0.1);
$box-padding: 1.25rem;

$box-link-hover-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px $link;
$box-link-active-shadow: inset 0 1px 2px rgba($black, 0.2), 0 0 0 1px $link;
